PORT=4000
NODE_ENV=development

# Ganti sesuai PostgreSQL milik Anda (lokal/cloud)
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/absensi_sekolah?schema=public"

# CORS untuk frontend Vite saat development
CLIENT_ORIGIN="http://localhost:5173"
